.footer{
	position: fixed;
	left: 0; 
	bottom: 0; 
	padding: 10px; 
	background: black;
	color: #fff;
    width: 100%;
}

div.postWithAudio{	
	box-sizing: border-box;	
	margin-left:5%;
	margin-right:5%;
	width: 40%;
	max-width: 720px;
	min-width: 440px;
	float:left;
}

div.defaultPost{
	margin:3%;
	padding:3%;
	background-color:lightgrey;
	box-shadow: 0 0 5px 2px grey;
}

body{
	background-image:url(/../static/images/white-gridius-2.jpg);
}
form{
	font-size:20px;
	font: strong;
}